body{
 font-family: Calibri, 'Trebuchet MS','Gill Sans',
    'Gill Sans MT', sans-serif;   
}

$primaryColor: indigo;
.whiteText{
    color: white;
}

.whiteText:hover{
    color: whitesmoke;
}

.navbar{
    background-color: $primaryColor;
    color: white ;
}

.p-card{
    margin-bottom: 8px;
}

